---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Info from '../components/Info.astro';
import InfoBody from '../components/Info_body.astro';
import Logo from '../components/Logo.astro';
import Grafica from '../components/Grafica.astro';
import ContentA from '../components/Content_a.astro';
import ContentB from '../components/Content_b.astro';
import Button from '../components/button.astro';

---

<Layout title="Tarjeta de presentación interactiva">

	<Card>
		<Logo slot="logo" class="logo"></Logo>
		<Info 
			slot="info"
			link="/foto_directora.webp"
			title1="Carla Sánchez"
			title2="Directora Creativa"
		>
			<InfoBody 
			title="Teléfono:"
			content="+34 600 123 456"></InfoBody>
			<InfoBody 
			title="Email:"
			content="carla@boldimpact.com"></InfoBody>
			<InfoBody 
			title="Sitio web:"
			content="www.boldimpact.com"></InfoBody>	
		</Info>
		<Grafica
			slot="grafica"
			class="grafica"
		></Grafica>
		<ContentA 
			slot="content"
			title1="“El marketing tradicional es seguro, pero lo atrevido es lo que genera impacto. ¿Te atreves?”"
			title2="Servicios destacados"
		>
			<ul>
				<li>Estrategia de branding y rebranding</li>
				<li>Campañas de marketing digital</li>
				<li>Diseño web y experiencia de usuario (UX/UI)</li>
				<li>Gestión de redes sociales</li>
				<li>Producción audiovisual</li>
			</ul>
			<Button slot="footer">Ver Portafolio</Button>
			<Button slot="footer">Solicita una consulta</Button>
		</ContentA>
		<ContentB 
			slot="content"
		></ContentB>


	</Card>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.logo {
		height: 70%;
		margin: 2.2rem;			
	}
	.grafica{
		height: 70%;
		margin: 1rem;
	}
	
</style>
