<section>
    <img src="/foto_directora.webp" alt="">
    <h1></h1>
    <h2></h2>
    <p><strong></strong></p>
    <p><strong></strong></p>
    <p><strong></strong></p>
</section>

<style>
    section{
        display: flex;
        height: 100%;
        width: 25%;
        img{
            border-radius: 1rem;
            height: 10rem;
        }
    }
</style>