---
interface Props {
	title1: string;
    title2: string;	
	link: string;
}

const { link, title1, title2} = Astro.props;
---
<section>
    <img src={link} alt="Fotografia">
    <h1>{title1}</h1>
    <h2>{title2}</h2>
    <slot />
</section>

<style>
    section{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
        img{
            border-radius: 1rem;       
            object-fit: cover;
        }
    }
</style>